<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Editar </h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información ">
            <div class="form-group row" [ngClass]="{'has-error': (!idstatusrazonsocialAC.valid && idstatusrazonsocialAC.touched), 'has-success': (idstatusrazonsocialAC.valid && idstatusrazonsocialAC.touched)}">
              <label for="inputidstatusrazonsocialAC" class="col-sm-3 form-control-label">Idstatusrazonsocial</label>
              <div class="col-sm-9">
                <input [(ngModel)]="idstatusrazonsocial" [formControl]="idstatusrazonsocialAC" type="number" maxlength='11' class="form-control" id="inputidstatusrazonsocialAC" placeholder="Idstatusrazonsocial" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!statusrazonsocialAC.valid && statusrazonsocialAC.touched), 'has-success': (statusrazonsocialAC.valid && statusrazonsocialAC.touched)}">
              <label for="inputstatusrazonsocialAC" class="col-sm-3 form-control-label">Statusrazonsocial</label>
              <div class="col-sm-9">
                <input [(ngModel)]="statusrazonsocial" [formControl]="statusrazonsocialAC" type="text" maxlength='60' class="form-control" id="inputstatusrazonsocialAC" placeholder="Statusrazonsocial" >
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
