<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Estatus Cotizaciones</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Estatus Cotizaciones">
            <div class="form-group row" [ngClass]="{'has-error': (!estatuscotizacionAC.valid && estatuscotizacionAC.touched), 'has-success': (estatuscotizacionAC.valid && estatuscotizacionAC.touched)}">
              <label for="inputestatuscotizacionAC" class="col-sm-3 form-control-label">Estatus Cotización</label>
              <div class="col-sm-9">
                <input [(ngModel)]="estatuscotizacion" [formControl]="estatuscotizacionAC" type="text" maxlength='45' class="form-control" id="inputestatuscotizacionAC" placeholder="Estatus Cotización" >
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
