<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>






                    <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="porFecha">Por Fecha</label>
                                    <input (change)="filtrarPor('porFecha')" name="notagasto" type="radio" class="form-radio-input" id="porFecha">
                                </div>
                                <div class="col-md-3">
                                    <label for="porRazonsocial">Por Razón Social Emisor</label>
                                    <input (change)="filtrarPor('porRazonsocial')" name="notagasto" type="radio" class="form-radio-input" id="porRazonsocial">
                                </div>
                                <div class="col-md-3">
                                    <label for="porFecharazonsocial">Por Fecha y Razón Social Emisor</label>
                                    <input (change)="filtrarPor('porFecharazonsocial')" name="notagasto" type="radio" class="form-radio-input" id="porFecharazonsocial">
                                </div>
                                
                            </div>
                        </form>
                        
                        <div class="row">
                            <div class="col-md-3" *ngIf="porFecha">
                                <input [(ngModel)]="fechainicial"  name="notagasto" type="date" class="form-control"> 
                                <input [(ngModel)]="fechafinal" name="notagasto" type="date" class="form-control">
                            </div>
                            <div class="col-md-3" *ngIf="porRazonsocial">
                                <div class="form-group row">
                                    <label for="inputidrazonsocialAC" class=" form-control-label">Razón Social Emisor</label>
                                    <div class="">
                                        <select [(ngModel)]="idrazonsocial" class="form-control" id="inputidrazonsocialAC" required>
                                            <option value="{{item.idrazonsocial}}" *ngFor="let item of _razonsocial">{{item.nombre}}</option>
                                        </select>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="porFecharazonsocial">
                                <div class="form-group row">
                                    <label for="inputidrazonsocialAC" class="form-control-label">Fecha y Razón Social</label>
                                    <div class="">
                                        <select [(ngModel)]="idrazonsocial" class="form-control" id="inputidrazonsocialAC" required>
                                            <option value="{{item.idrazonsocial}}" *ngFor="let item of _razonsocial">{{item.nombre}}</option>
                                        </select>
                                        <input [(ngModel)]="fechainicial"  name="notagasto" type="date" class="form-control"> 
                                        <input [(ngModel)]="fechafinal" name="notagasto" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
        
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-success pull-right" (click)="showResults()">Mostrar Resultados</button>
                            </div>
                        </div>




                <table class='table table-striped' [mfData]='data' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                        </tr>
                        <tr>
                            <th style='width: 25%'></th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='folio'>Folio</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='serie'>Serie</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='fecha'>Fecha</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='razonsocialemisor'>Razón Social Emisor</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='rfcemisor'>RFC Emisor</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='nombreemisor'>Nombre Emisor</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='observaciones'>Observaciones</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='subtotal'>Subtotal</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='importetotal'>Importe Total</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='totalimpuestos'>Total Impuestos</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='usuarioalta'>Usuario Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='fechahoraalta'>Fecha y Hora Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='usuariocambio'>Usuario Cambio</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='fechahoracambio'>Fecha y Hora Cambio</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                    <mfDefaultSorter by='baja'>Baja</mfDefaultSorter>
                            </th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.folio  }}</td>
                            <td>{{ item.serie  }}</td>
                            <td>{{ item.fecha  }}</td>
                            <td>{{ item.razonsocialemisor }}</td>
                            <td>{{ item.rfcemisor }}</td>
                            <td>{{ item.nombreemisor }}</td>
                            <td>{{ item.observaciones  }}</td>
                            <td>{{ item.subtotal  }}</td>
                            <td>{{ item.importetotal  }}</td>
                            <td>{{ item.totalimpuestos  }}</td>
                            <td>{{ item.usuarioalta  }}</td>
                            <td>{{ item.fechahoraalta  }}</td>                       
                            <td>{{ item.usuariocambio  }}</td>
                            <td>{{ item.fechahoracambio  }}</td>
                            <td>{{ item.baja  }}</td>
           
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
