<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Detalle Cotizaciones</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Detalle Cotizaciones">
            <div class="form-group row" [ngClass]="{'has-error': (!idcotizacionAC.valid && idcotizacionAC.touched), 'has-success': (idcotizacionAC.valid && idcotizacionAC.touched)}">
              <label for="inputidcotizacionAC" class="col-sm-3 form-control-label">Cotización</label>
              <div class="col-sm-7">
               <select [(ngModel)]="idcotizacion" [formControl]="idcotizacionAC" class="form-control" id="inputidcotizacionAC" required>
                 <option value="{{item.idcotizacion}}" *ngFor="let item of _cotizacion">{{item.idcotizacion}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='cotizacionAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!idcategoriaAC.valid && idcategoriaAC.touched), 'has-success': (idcategoriaAC.valid && idcategoriaAC.touched)}">
              <label for="inputidcategoriaAC" class="col-sm-3 form-control-label">Categoria</label>
              <div class="col-sm-7">
               <select [(ngModel)]="idcategoria" [formControl]="idcategoriaAC" class="form-control" id="inputidcategoriaAC" required>
                 <option value="{{item.idcategoria}}" *ngFor="let item of _categoria">{{item.idcategoria}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='categoriaAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!idsubcategoriaAC.valid && idsubcategoriaAC.touched), 'has-success': (idsubcategoriaAC.valid && idsubcategoriaAC.touched)}">
              <label for="inputidsubcategoriaAC" class="col-sm-3 form-control-label">Sub Categoria</label>
              <div class="col-sm-7">
               <select [(ngModel)]="idsubcategoria" [formControl]="idsubcategoriaAC" class="form-control" id="inputidsubcategoriaAC" required>
                 <option value="{{item.idsubcategoria}}" *ngFor="let item of _subcategoria">{{item.idsubcategoria}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='subcategoriaAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!idmaterialAC.valid && idmaterialAC.touched), 'has-success': (idmaterialAC.valid && idmaterialAC.touched)}">
              <label for="inputidmaterialAC" class="col-sm-3 form-control-label">Material</label>
              <div class="col-sm-7">
               <select [(ngModel)]="idmaterial" [formControl]="idmaterialAC" class="form-control" id="inputidmaterialAC" required>
                 <option value="{{item.idmaterial}}" *ngFor="let item of _material">{{item.idmaterial}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='materialAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!cantidadAC.valid && cantidadAC.touched), 'has-success': (cantidadAC.valid && cantidadAC.touched)}">
              <label for="inputcantidadAC" class="col-sm-3 form-control-label">Cantidad</label>
              <div class="col-sm-9">
                <input [(ngModel)]="cantidad" [formControl]="cantidadAC" type="number"  class="form-control" id="inputcantidadAC" placeholder="Cantidad" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!porcimpuestosAC.valid && porcimpuestosAC.touched), 'has-success': (porcimpuestosAC.valid && porcimpuestosAC.touched)}">
              <label for="inputporcimpuestosAC" class="col-sm-3 form-control-label">Porcentaje Impuestos</label>
              <div class="col-sm-9">
                <input [(ngModel)]="porcimpuestos" [formControl]="porcimpuestosAC" type="number"  class="form-control" id="inputporcimpuestosAC" placeholder="Porcentaje Impuestos" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!porcdescuentoAC.valid && porcdescuentoAC.touched), 'has-success': (porcdescuentoAC.valid && porcdescuentoAC.touched)}">
              <label for="inputporcdescuentoAC" class="col-sm-3 form-control-label">Porcentaje Descuento</label>
              <div class="col-sm-9">
                <input [(ngModel)]="porcdescuento" [formControl]="porcdescuentoAC" type="number"  class="form-control" id="inputporcdescuentoAC" placeholder="Porcentaje Descuento" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!porcimpuestosespAC.valid && porcimpuestosespAC.touched), 'has-success': (porcimpuestosespAC.valid && porcimpuestosespAC.touched)}">
              <label for="inputporcimpuestosespAC" class="col-sm-3 form-control-label">Porcentaje Impuestos Esp</label>
              <div class="col-sm-9">
                <input [(ngModel)]="porcimpuestosesp" [formControl]="porcimpuestosespAC" type="number"  class="form-control" id="inputporcimpuestosespAC" placeholder="Porcentaje Impuestos Esp" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!importeimpuestosAC.valid && importeimpuestosAC.touched), 'has-success': (importeimpuestosAC.valid && importeimpuestosAC.touched)}">
              <label for="inputimporteimpuestosAC" class="col-sm-3 form-control-label">Importe Impuestos</label>
              <div class="col-sm-9">
                <input [(ngModel)]="importeimpuestos" [formControl]="importeimpuestosAC" type="number"  class="form-control" id="inputimporteimpuestosAC" placeholder="Importe Impuestos" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!importeimpuestosespAC.valid && importeimpuestosespAC.touched), 'has-success': (importeimpuestosespAC.valid && importeimpuestosespAC.touched)}">
              <label for="inputimporteimpuestosespAC" class="col-sm-3 form-control-label">Importe Impuestos Esp</label>
              <div class="col-sm-9">
                <input [(ngModel)]="importeimpuestosesp" [formControl]="importeimpuestosespAC" type="number"  class="form-control" id="inputimporteimpuestosespAC" placeholder="Importe Impuestos Esp" >
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!observacionesAC.valid && observacionesAC.touched), 'has-success': (observacionesAC.valid && observacionesAC.touched)}">
              <label for="inputobservacionesAC" class="col-sm-3 form-control-label">Observaciones</label>
              <div class="col-sm-9">
                <input [(ngModel)]="observaciones" [formControl]="observacionesAC" type="text" maxlength='150' class="form-control" id="inputobservacionesAC" placeholder="Observaciones" >
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
