<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                        </tr>
                        <tr>
                            <th style='width: 20%'></th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='material_idmaterial'>Material</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='unidadmedida_idunidadmedida'>Unidad de Medida</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='categoria_idcategoria'>Categoria</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='subcategoria_idsubcategoria'>Sub Categoria</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='obra_idobra'>Obra</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='cantidad'>Cantidad</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='preciounitario'>Precio Unitario</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='importeimpuestos'>Importe Impuestos</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='importeimpuestosesp'>Importe Impuestos Esp</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='subtotal'>Sub Total</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='importetotal'>Importe Total</mfDefaultSorter>
                            </th>
                            <th style='width: 6%'>
                                <mfDefaultSorter by='observaciones'>Observaciones</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.material_idmaterial }}</td>
                            <td>{{ item.unidadmedida_idunidadmedida }}</td>
                            <td>{{ item.categoria_idcategoria }}</td>
                            <td>{{ item.subcategoria_idsubcategoria }}</td>
                            <td>{{ item.obra_idobra }}</td>
                            <td>{{ item.cantidad  }}</td>
                            <td>{{ item.preciounitario  }}</td>
                            <td>{{ item.importeimpuestos  }}</td>
                            <td>{{ item.importeimpuestosesp  }}</td>
                            <td>{{ item.subtotal  }}</td>
                            <td>{{ item.importetotal  }}</td>
                            <td>{{ item.observaciones  }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
