<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>

                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="porFecha">Por Fecha</label>
                            <input (change)="filtrarPor('porFecha')" name="costo" type="radio" class="form-radio-input" id="porFecha">
                        </div>
                        <div class="col-md-2">
                            <label for="porObra">Por Obra</label>
                            <input (change)="filtrarPor('porObra')" name="costo" type="radio" class="form-radio-input" id="porObra">
                        </div>
                        <div class="col-md-2">
                            <label for="porCategoria">Por Categoría</label>
                            <input (change)="filtrarPor('porCategoria')" name="costo" type="radio" class="form-radio-input" id="porCategoria">
                        </div>
                        <div class="col-md-2">
                            <label for="porSubCategoria">Por SubCategoría</label>
                            <input (change)="filtrarPor('porSubCategoria')" name="costo" type="radio" class="form-radio-input" id="porSubCategoria">
                        </div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-success pull-right" (click)="showResults()">Mostrar Resultados</button>
                        </div>
                    </div>
                </form>
                
                <div class="row">
                    <div class="col-md-3" *ngIf="porFecha">
                        <input [(ngModel)]="fechainicial"  name="costo" type="date" class="form-control"> 
                        <input [(ngModel)]="fechafinal" name="costo" type="date" class="form-control">
                    </div>


                    <div class="col-md-12" *ngIf="porObra">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label for="inputidobraAC" class=" form-control-label">Obra</label>
                            </div>
                            <div class="">
                                <select [(ngModel)]="idobra" class="form-control" id="inputidobraAC" required>
                                    <option value="{{item.idobra}}" *ngFor="let item of _obra">{{item.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12" *ngIf="porCategoria">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <label for="inputidcategoriaAC" class="form-control-label">Categoría </label>
                            </div>

                            <div class="">
                                <select [(ngModel)]="idcategoria" class="form-control" id="inputidcategoriaAC" required>
                                    <option value="{{item.idcategoria}}" *ngFor="let item of _categoria">{{item.clavecategoria}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-md-12" *ngIf="porSubCategoria">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label for="inputidcategoriaAC" class="form-control-label" >Sub Categoría</label>
                            </div>

                                <div class="">
                                    <select [(ngModel)]="idsubcategoria" class="form-control" id="inputidsubcategoriaAC" required>
                                        <option value="{{item.idsubcategoria}}" *ngFor="let item of _subcategoria">{{item.descripcion}}</option>
                                    </select>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

                <table class='table table-striped' [mfData]='data' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                            <th style='width: 8%'></th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='codigomaterial'>Código Material</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                    <mfDefaultSorter by='descripcioncortamaterial'>Descripción Corta Material</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='claveunidadmedida'>Unidad de Medida</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='cantidad'>Cantidad</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='preciounitario'>Precio Unitario</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='importeimpuestos'>Importe Impuestos</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='importeimpuestosesp'>Importe Impuestos Esp</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='subtotal'>Sub Total</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='importetotal'>Importe Total</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='observaciones'>Observaciones</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='clavecategoria'>Categoría</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='clavesubcategoria'>Sub Categoría</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='descripcionobra'>Descripción Obra</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='direccionobra'>Dirección Obra</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='usuarioalta'>Usuario Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='fechahoraalta'>Fecha y Hora Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='usuariocambio'>Usuario Cambio</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='fechahoracambio'>Fecha y Hora Cambio</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
       
                            <td>{{ item.codigomaterial  }}</td>
                            <td>{{ item.descripcioncortamaterial  }}</td>
                            <td>{{ item.claveunidadmedida  }}</td>
                            <td>{{ item.cantidad  }}</td>
                            <td>{{ item.preciounitario  }}</td>
                            <td>{{ item.impuestos  }}</td>
                            <td>{{ item.impuestosesp  }}</td>
                            <td>{{ item.subtotal  }}</td>
                            <td>{{ item.importetotal  }}</td>
                            <td>{{ item.observaciones  }}</td>                    
                            <td>{{ item.clavecategoria  }}</td>                 
                            <td>{{ item.clavesubcategoria  }}</td>                  
                            <td>{{ item.descripcionobra  }}</td>
                            <td>{{ item.direccionobra  }}</td>  
                            <td>{{ item.usuarioalta  }}</td>
                            <td>{{ item.fechahoraalta | date:'dd/MM/y' }}</td>                       
                            <td>{{ item.usuariocambio  }}</td>
                            <td>{{ item.fechahoracambio | date:'dd/MM/y'  }}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
