<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                        </tr>
                        <tr>
                            <th style='width: 14%'></th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='descripcioncotizacion'>Descripión Cotización</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='referenciacotizacion'>Referencia Cotización</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='clavecategoria'>Clave Categoria</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                    <mfDefaultSorter by='descripcioncategoria'>Descripción Categoria</mfDefaultSorter>
                                </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='clavesubcategoria'>Clave Sub Categoria</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                    <mfDefaultSorter by='descripcionsubcategoria'>Descripción Sub Categoria</mfDefaultSorter>
                                </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='codigomaterial'>Código Material</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                    <mfDefaultSorter by='descripcioncortamaterial'>Descripción Corta Material</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                    <mfDefaultSorter by='descripcionlargamaterial'>Descripción Larga Material</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='cantidad'>Cantidad</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='porcimpuestos'>Porcentaje Impuestos</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='porcdescuento'>Porcentaje Descuento</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='porcimpuestosesp'>Porcentaje Impuestos Esp</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='importeimpuestos'>Importe Impuestos</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='importeimpuestosesp'>Importe Impuestos Esp</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='observaciones'>Observaciones</mfDefaultSorter>
                            </th>

                            <th style='width: 4%'>
                                <mfDefaultSorter by='usuarioalta'>Usuario Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='fechahoraalta'>Fecha y Hora Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='usuariocambio'>Usuario Cambio</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                <mfDefaultSorter by='fechahoracambio'>Fecha y Hora Cambio</mfDefaultSorter>
                            </th>
                            <th style='width: 4%'>
                                    <mfDefaultSorter by='baja'>Baja</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.descripcioncotizacion }}</td>
                            <td>{{ item.referenciacotizacion }}</td>
                            <td>{{ item.clavecategoria  }}</td>
                            <td>{{ item.descripcioncategoria  }}</td>                   
                            <td>{{ item.clavesubcategoria  }}</td>
                            <td>{{ item.descripcionsubcategoria  }}</td>   
                            <td>{{ item.codigomaterial  }}</td>
                            <td>{{ item.descripcioncortamaterial  }}</td>
                            <td>{{ item.descripcionlargamaterial  }}</td>
                            <td>{{ item.cantidad  }}</td>
                            <td>{{ item.porcimpuestos  }}</td>
                            <td>{{ item.porcdescuento  }}</td>
                            <td>{{ item.porcimpuestosesp  }}</td>
                            <td>{{ item.importeimpuestos  }}</td>
                            <td>{{ item.importeimpuestosesp  }}</td>
                            <td>{{ item.observaciones  }}</td>
                            <td>{{ item.usuarioalta  }}</td>
                            <td>{{ item.fechahoraalta | date:'dd/MM/y'  }}</td>                       
                            <td>{{ item.usuariocambio  }}</td>
                            <td>{{ item.fechahoracambio | date:'dd/MM/y'  }}</td>
                            <td>{{ item.baja  }}</td>        
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
