<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>

                

                    <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="porFecha">Por Fecha</label>
                                    <input (change)="filtrarPor('porFecha')" name="factura" type="radio" class="form-radio-input" id="porFecha">
                                </div>
                                <div class="col-md-3">
                                    <label for="porRazonsocial">Por Razón Social</label>
                                    <input (change)="filtrarPor('porRazonsocial')" name="factura" type="radio" class="form-radio-input" id="porRazonsocial">
                                </div>
                                <div class="col-md-6 text-right">
                                        <button class="btn btn-success pull-right" (click)="showResults()">Mostrar Resultados</button>
                                </div>
                            </div>
                        </form>
                        
                        <div class="row">
                            <div class="col-md-3" *ngIf="porFecha">
                                <input [(ngModel)]="fechainicial"  name="factura" type="date" class="form-control"> 
                                <input [(ngModel)]="fechafinal" name="factura" type="date" class="form-control">
                            </div>



                            <div class="col-md-12" *ngIf="porRazonsocial">
                                <div class="row">
                                    <div class="col-md-3 text-right">
                                        <label for="inputidrazonsocialAC" class=" form-control-label">Razón Social</label>
                                    </div>
                                        <div class="">
                                            <select [(ngModel)]="idrazonsocial" class="form-control" id="inputidrazonsocialAC" required>
                                                <option value="{{item.idrazonsocial}}" *ngFor="let item of _razonsocial">{{item.nombre}}</option>
                                            </select>
                                        </div>
                                </div>
                            </div>

                        </div>
                  
                <table class='table table-striped' [mfData]='data' #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>
                        <tr>
                        </tr>
                        <tr>
                            <th style='width: 19%'></th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='folio'>Folio</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='serie'>Serie</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='version'>Versión</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='fechaexpedicion'>Fecha Expedición</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='uuid'>Uuid</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='fechatimbrado'>Fecha Timbrado</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='razonsocialemisor'>Razón Social Emisor</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='rfcemisor'>RFC Emisor</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='claveregimenfiscal'>Clave Regimen Fiscal</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='claveformapago'>Clave Forma Pago</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='clavemetodopago'>Clave Método de Pago</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='clavetipocomprobante'>Clave Tipo Comprobante</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='lugarexpedicion'>Lugar de Expedición</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='claveusocfdi'>Clave Uso cfdi</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='rfcreceptor'>RFC receptor</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='subtotal'>Sub Total</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='importetotal'>Importe Total</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='totalimpuestostrasladados'>Total Impuestos Trasladados</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='totalimpuestosretenidos'>Total Impuestos Retenidos</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='totaldescuentos'>Total Descuentos</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='clavemoneda'>Clave Moneda</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='valortipocambio'>Valor Tipo Cambio</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='usuarioalta'>Usuario Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='fechahoraalta'>Fecha y Hora Alta</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='usuariocambio'>Usuario Cambio</mfDefaultSorter>
                            </th>
                            <th style='width: 3%'>
                                <mfDefaultSorter by='fechahoracambio'>Fecha y Hora Cambio</mfDefaultSorter>
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.folio  }}</td>
                            <td>{{ item.serie  }}</td>
                            <td>{{ item.version  }}</td>
                            <td>{{ item.fechaexpedicion  }}</td>
                            <td>{{ item.uuid  }}</td>
                            <td>{{ item.fechatimbrado  }}</td>
                            <td>{{ item.razonsocialemisor  }}</td>
                            <td>{{ item.rfcemisor  }}</td>
                            <td>{{ item.claveregimenfiscal  }}</td>
                            <td>{{ item.claveformapago  }}</td>
                            <td>{{ item.clavemetodopago  }}</td>
                            <td>{{ item.clavetipocomprobante  }}</td>
                            <td>{{ item.lugarexpedicion  }}</td>
                            <td>{{ item.claveusocfdi  }}</td>
                            <td>{{ item.rfcreceptor  }}</td>
                            <td>{{ item.subtotal  }}</td>
                            <td>{{ item.importetotal  }}</td>
                            <td>{{ item.totalimpuestostrasladados  }}</td>
                            <td>{{ item.totalimpuestosretenidos  }}</td>
                            <td>{{ item.totaldescuentos  }}</td>
                            <td>{{ item.clavemoneda  }}</td>
                            <td>{{ item.valortipocambio  }}</td>
                            <td>{{ item.usuarioalta  }}</td>
                            <td>{{ item.fechahoraalta | date:'dd/MM/y'  }}</td>                       
                            <td>{{ item.usuariocambio  }}</td>
                            <td>{{ item.fechahoracambio | date:'dd/MM/y'  }}</td>
                            
                          
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
