<div class='widgets'>
    <div class='row'>
        <ba-card title='Listado' baCardClass='with-scroll' class='data-table-container'>
            <div class='panel panel-default'>
                <table class='table table-striped' [mfData]='data | razonsocialclienteDataFilter : filterQuery0 | razonsocialconstructorDataFilter : filterQuery1 |razonsocialasociadoDataFilter : filterQuery2 |razonsocialcontratistaDataFilter : filterQuery3'  #mf='mfDataTable' [mfRowsOnPage]='rowsOnPage' [(mfSortBy)]='sortBy' [(mfSortOrder)]='sortOrder'>
                    <thead>

                        <tr>
                            <th colspan='3' class='text-left'>
                                Filtrar por Razon Social Cliente:
                                <input class='form-control' [(ngModel)]='filterQuery0' />
                            </th>
                            <th colspan='3' class='text-left'>
                                Filtrar por Razon Social Constructor:
                                <input class='form-control' [(ngModel)]='filterQuery1' />
                            </th>
                            <th colspan='3' class='text-left'>
                                Filtrar por Razon Social Asociado:
                                <input class='form-control' [(ngModel)]='filterQuery2' />
                            </th>
                            <th colspan='3' class='text-left'>
                                Filtrar por Razon Social Contratista :
                                <input class='form-control' [(ngModel)]='filterQuery3' />
                            </th>   
                        </tr>
                        <tr>
                            <th style='width: 10%'></th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='descripcion'>Descripción</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='direccion'>Dirección</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='medidasterreno'>Medidas Terreno</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='medidasconstruccion'>Medidas Construcción</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='fechainicio'>Fecha Inicio</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='fechafin'>Fecha Fin</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='presupuesto'>Presupuesto</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='posiciongps'>Posición GPS</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='observaciones'>Observaciones</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='tipoobra'>Tipo Obra</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='idestatusobra'>Estatus Obra</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='estatusobra'>Estatus Obra</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='razonsocialconstructor'>Razón Social Constructor</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='razonsocialcliente'>Razón Social Cliente</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='razonsocialcontratista'>Razón Social Contratista</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='razonsocialasociado'>Razón Social Asociado</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='desctipoobra'>Descripción de Tipo de Obra</mfDefaultSorter>
                            </th>
                            <th style='width: 5%'>
                                <mfDefaultSorter by='direccioncliente'>Dirección de Cliente</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of mf.data;  let i = index'>
                            <td>
                                <button title='Autorizar Obra' (click)='autorizar($event, item)' class='btn btn-sm btn-success'><i class='fa fa-check'></i></button>
                                <button title='Bloquear Obra' (click)='bloquear($event, item)' class='btn btn-sm btn-primary'><i class='fa fa-lock'></i></button>
                                <button title='Cancelar Obra' (click)='cancelar($event, item)' class='btn btn-sm btn-secondary'><i class='fa fa-close'></i></button>
                                <button title='Finalizar Obra' (click)='finalizar($event, item)' class='btn btn-sm btn-default'><i class='fa fa-building'></i></button>
                                <button title='Editar Registro' (click)='editModalShow(item)' class='btn btn-sm btn-info'><i class='fa fa-edit'></i></button>
                                <button title='Eliminar Registro' (click)='onDeleteConfirm($event, item)' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>
                            </td>
                            <td>{{ item.descripcion  }}</td>
                            <td>{{ item.direccion  }}</td>
                            <td>{{ item.medidasterreno  }}</td>
                            <td>{{ item.medidasconstruccion  }}</td>
                            <td>{{ item.fechainicio | date:'dd/MM/y' }}</td>
                            <td>{{ item.fechafin | date:'dd/MM/y' }}</td>
                            <td>{{ item.presupuesto  }}</td>
                            <td>{{ item.posiciongps  }}</td>
                            <td>{{ item.observaciones  }}</td>
                            <td>{{ item.tipoobra }}</td>
                            <td>{{ item.idestatusobra }}</td>
                            <td>{{ item.estatusobra }}</td>
                            <td>{{ item.razonsocialconstructor }}</td>
                            <td>{{ item.razonsocialcliente }}</td>
                            <td>{{ item.razonsocialcontratista }}</td>
                            <td>{{ item.razonsocialasociado }}</td>
                            <td>{{ item.desctipoobra }}</td>
                            <td>{{ item.direccioncliente }}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]='[5,10,15]'></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            <button (click)='addModalShow()' class='btn btn-success'><i class='fa fa-plus'></i> Agregar</button>
        </div>
    </div>
</div>
